
@{
}


<div class="flat-footer">
    <div class="overlay"></div>
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="social-links">
                        <a href="https://www.facebook.com/profile.php?id=100024669334492" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="https://www.instagram.com/betaperdeduvarkagidi/" target="_blank"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="copyright">
                        <div class="copyright-content">
                            © Denizli <span>•</span>Merkezefendi Mh. 1852 Sk. No:10/A  <span>•</span>   Tel: (0) 258 377 53 46<br>
                            <span>
                                Beta Yapı © 2014
                                <a>Tüm Hakları Saklıdır</a>, .
                            </span>
                        </div><!-- /.copyright-content -->
                    </div><!-- /.copyright -->
                </div>
            </div> <!-- /.row -->
        </div><!-- /.container -->
    </div>
    <!-- Go Top -->
    <a class="go-top">
    </a>
</div>