
@{
}


<div class="flat-footer">
    <div class="overlay"></div>
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="social-links">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-behance"></i></a>
                        <a href="#"><i class="fa fa-rss"></i></a>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="copyright">
                        <div class="copyright-content">
                            © Isuzu 2016<span>•</span>51 Uxbridge Road, San Francisco W7 3PX   <span>•</span>   Tel: 1-888-345-6789<br>
                            <span>
                                Copyright © 2016
                                <a href="#">Themesflat</a>, Inc.
                            </span>
                        </div><!-- /.copyright-content -->
                    </div><!-- /.copyright -->
                </div>
            </div> <!-- /.row -->
        </div><!-- /.container -->
    </div>

    <!-- Go Top -->
    <a class="go-top">
    </a>
</div>