
@{
    ViewData["Title"] = "Index";
}

<!-- Page title -->
<div class="page-title parallax parallax2">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-heading">
                    <h1 class="title">Our <span>Portfolio.</span></h1>
                </div><!-- /.page-title-captions -->
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li> Portfolio </li>
                    </ul>
                </div><!-- /.breadcrumbs -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.page-title -->
<!-- Portfolio -->
<section class="flat-row row-portfolio">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="portfolio-filter style-2">
                    <li class="active"><a data-filter="*" href="#">All</a></li>
                    <li>
                        <a data-filter=".builder" href="#">Design</a>
                        <div class="filter-tooltip">5</div>
                    </li>
                    <li>
                        <a data-filter=".electric" href="#">Makerting</a>
                        <div class="filter-tooltip">15</div>
                    </li>
                    <li>
                        <a data-filter=".hammer" href="#">Mockup</a>
                        <div class="filter-tooltip">88</div>
                    </li>
                    <li>
                        <a data-filter=".painting" href="#">Painting</a>
                        <div class="filter-tooltip">27</div>
                    </li>
                </ul><!-- /.project-filter -->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="flat-portfolio grid-3columns no-margin">
                <div class="portfolio-wrap clearfix">
                    <div class="item builder painting">
                        <div class="featured-images">
                            <img src="images/portfolio/simple/2.1.jpg" alt="images">
                            <h3 class="project-title">Royal City</h3>
                            <div class="overlay">
                                <ul class="portfolio-details">
                                    <li>
                                        <i class="fa fa-arrows-alt"></i>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- /.featured-images -->
                    </div><!-- /.portfolio-item -->

                    <div class="item builder hammer">
                        <div class="featured-images">
                            <img src="images/portfolio/simple/2.2.jpg" alt="images">
                            <h3 class="project-title">Sky Tower</h3>
                            <div class="overlay">
                                <ul class="portfolio-details">
                                    <li>
                                        <i class="fa fa-arrows-alt"></i>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- /.featured-images -->
                    </div><!-- /.portfolio-item -->

                    <div class="item electric painting">
                        <div class="featured-images">
                            <img src="images/portfolio/simple/3.1.jpg" alt="images">
                            <h3 class="project-title">Konstruct Penthouse</h3>
                            <div class="overlay">
                                <ul class="portfolio-details">
                                    <li>
                                        <i class="fa fa-arrows-alt"></i>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- /.featured-images -->
                    </div><!-- /.portfolio-item -->

                    <div class="item electric hammer">
                        <div class="featured-images">
                            <img src="images/portfolio/simple/2.4.jpg" alt="images">
                            <h3 class="project-title">Red Bridge</h3>
                            <div class="overlay">
                                <ul class="portfolio-details">
                                    <li>
                                        <i class="fa fa-arrows-alt"></i>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- /.featured-images -->
                    </div><!-- /.portfolio-item -->

                    <div class="item builder painting">
                        <div class="featured-images">
                            <img src="images/portfolio/simple/5justify.jpg" alt="images">
                            <h3 class="project-title">Royal City</h3>
                            <div class="overlay">
                                <ul class="portfolio-details">
                                    <li>
                                        <i class="fa fa-arrows-alt"></i>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- /.featured-images -->
                    </div><!-- /.portfolio-item -->

                    <div class="item builder hammer">
                        <div class="featured-images">
                            <img src="images/portfolio/simple/6.jpg" alt="images">
                            <h3 class="project-title">Sky Tower</h3>
                            <div class="overlay">
                                <ul class="portfolio-details">
                                    <li>
                                        <i class="fa fa-arrows-alt"></i>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- /.featured-images -->
                    </div><!-- /.portfolio-item -->

                    <div class="item electric painting">
                        <div class="featured-images">
                            <img src="images/portfolio/simple/7.jpg" alt="images">
                            <h3 class="project-title">Konstruct Penthouse</h3>
                            <div class="overlay">
                                <ul class="portfolio-details">
                                    <li>
                                        <i class="fa fa-arrows-alt"></i>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- /.featured-images -->
                    </div><!-- /.portfolio-item -->
                </div><!-- /.portfolio-wrap -->
            </div><!-- /.flat-portfolio -->
        </div>
    </div>
</section>
