
@{
    ViewData["Title"] = "Index";
}


<!-- Page title -->
<div class="page-title parallax parallax3">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-heading">
                    <h1 class="title">Contact <span>Us.</span></h1>
                </div><!-- /.page-title-captions -->
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li> Contact </li>
                    </ul>
                </div><!-- /.breadcrumbs -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.page-title -->
<!-- Contact info -->
<section class="flat-row bg-theme">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="iconbox-item">
                    <div class="iconbox left style2">
                        <div class="box-content">
                            <div class="box-title">
                                <a href="#">Let’s have a chat!</a>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.</p>
                            <p>
                                <span><strong>Telephone:</strong> <span class="number">1-888-345-6789</span></span><br>
                                <span> <strong>Fax:</strong> <span class="number">1-888-345-6789</span></span>
                            </p>
                            <p><span><a class="link" href="#">support@themesflat.com</a></span></p>
                        </div>
                    </div><!-- /.iconbox -->
                </div><!-- /.iconbox-item -->
            </div>

            <div class="col-md-4">
                <div class="iconbox-item">
                    <div class="iconbox left style2">
                        <div class="box-content">
                            <div class="box-title">
                                <a href="#">Visit our location</a>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.</p>
                            <p>
                                <span><strong>Telephone:</strong> <span class="number">1-888-345-6789</span></span>
                                <br>
                                <span> <strong>Fax:</strong> <span class="number">1-888-345-6789</span></span>
                            </p>
                            <p><span><a class="link" href="#">support@themesflat.com</a></span></p>
                        </div>
                    </div><!-- /.iconbox -->
                </div><!-- /.iconbox-item -->
            </div>

            <div class="col-md-4">
                <div class="iconbox-item">
                    <div class="iconbox left style2">
                        <div class="box-content">
                            <div class="box-title">
                                <a href="#">Looking for a career?</a>
                            </div>
                            <p>Lorem üüü ÜÜÜ ÖÖÖÖ İİİ JJ ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.</p>
                            <p><span><strong>79 Orchard St,</strong> New York, NY 10002,</span><br><span> United States</span></p>
                         
                        </div>
                    </div><!-- /.iconbox -->
                </div><!-- /.iconbox-item -->
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>

<!-- Contact -->
<!--<section class="flat-row contact-page">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="row">
                    <div class="title-section style3">
                        <h1 class="title">Contact us for any further questions</h1>
                    </div>

                </div>
                <form id="contactform" class="flat-contact-form style2 bg-dark height-small" method="post" action="./contact/contact-process.php">
                    <div class="field clearfix">
                        <div class="wrap-type-input">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-wrap name">
                                        <input type="text" value="" tabindex="1" placeholder="Name" name="name" id="name" required>
                                    </div>
                                    <div class="input-wrap email">
                                        <input type="email" value="" tabindex="2" placeholder="Email" name="email" id="email" required>
                                    </div>
                                </div>

                                <div class="col-md-6">

                                    <div class="input-wrap phone">
                                        <input type="text" value="" tabindex="2" placeholder="Phone" name="phone" id="phone" required>
                                    </div>

                                    <div class="input-wrap subject">
                                        <input type="text" value="" tabindex="2" placeholder="subject" name="subject" id="subject" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="textarea-wrap">
                            <textarea class="type-input" tabindex="3" placeholder="Message" name="message" id="message-contact" required></textarea>
                        </div>
                    </div>
                    <div class="submit-wrap">
                        <button class="flat-button bg-theme">Send Your Message</button>
                    </div>
                </form>--><!-- /.comment-form -->
            <!--</div>--><!-- /.col-md-8 -->
        <!--</div>--><!-- /.row -->
    <!--</div>--><!-- /.container -->
<!--</section>-->
