@{
    ViewData["Title"] = "Index";
}


<!-- Page title -->
<div class="page-title parallax parallax3">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-heading">
                    <h1 class="title">İletişim</span></h1>
                </div><!-- /.page-title-captions -->
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="@Url.Action("Index","Home")">Anasayfa</a></li>
                        <li> İletişim </li>
                    </ul>
                </div><!-- /.breadcrumbs -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.page-title -->
<!-- Contact info -->
<section class="flat-row bg-theme">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <iframe class="google-map-conten-c" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2651.764446118057!2d29.06005599183578!3d37.7783874138551!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14c73fc00b8a4f63%3A0xc6e0a15444c3a5ae!2sBeta%20Yapi!5e0!3m2!1str!2str!4v1582122023048!5m2!1str!2str" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>

        </div>

        <div class="row mt-20">
            <div class="col-md-4">
                <div class="iconbox-item">
                    <div class="iconbox left style2">
                        <div class="box-content">
                            <div class="box-title">
                                <span>Adres</span>
                            </div>
                            <p>
                                <i class="fa fa-location-arrow"></i>
                                <span>
                                    <strong>Adres</strong> <span class="number">
                                        Denizli, Merkezefendi
                                        Merkezefendi Mah.1852 sk. No:10/A
                                    </span>
                                </span><br>
                            </p>
                            <p>Pzt-Cmt 09:00-19:00</p>


                        </div>

                    </div><!-- /.iconbox -->
                </div><!-- /.iconbox-item -->
            </div>

            <div class="col-md-4">
                <div class="iconbox-item">
                    <div class="iconbox left style2">
                        <div class="box-content">
                            <div class="box-title">
                                <span>Telefon</span>
                            </div>
                            <p>
                                <i class="fa fa-phone"></i>

                                <span>
                                    <strong>0258 377 53 46</strong>
                                </span>

                            </p>
                            <p>

                                <span>
                                    <a href="https://wa.me/+905368305346?text=Satılık%20arabanızla%20ilgili%20görüşmek%20istiyorum"> <i class="fa fa-whatsapp"></i> <strong>0536 830 53 46</strong></a>

                                </span>


                          

                        </div>
                    </div><!-- /.iconbox -->
                </div><!-- /.iconbox-item -->
            </div>

            <div class="col-md-4">
                <div class="iconbox-item">
                    <div class="iconbox left style2">
                        <div class="box-content">
                            <div class="box-title">
                                <span>Email</span>
                            </div>
                            <p>
                                <i class="fa fa-envelope"></i>
                                <span>
                                    <a class="link" href="mailto:betayapidekor@gmail.com">betayapidekor@gmail.com</a>
                                </span>
                            </p>

                        </div>
                    </div><!-- /.iconbox -->
                </div><!-- /.iconbox-item -->
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>

<!-- Contact -->
<!--<section class="flat-row contact-page">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="row">
                    <div class="title-section style3">
                        <h1 class="title">Contact us for any further questions</h1>
                    </div>

                </div>
                <form id="contactform" class="flat-contact-form style2 bg-dark height-small" method="post" action="./contact/contact-process.php">
                    <div class="field clearfix">
                        <div class="wrap-type-input">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-wrap name">
                                        <input type="text" value="" tabindex="1" placeholder="Name" name="name" id="name" required>
                                    </div>
                                    <div class="input-wrap email">
                                        <input type="email" value="" tabindex="2" placeholder="Email" name="email" id="email" required>
                                    </div>
                                </div>

                                <div class="col-md-6">

                                    <div class="input-wrap phone">
                                        <input type="text" value="" tabindex="2" placeholder="Phone" name="phone" id="phone" required>
                                    </div>

                                    <div class="input-wrap subject">
                                        <input type="text" value="" tabindex="2" placeholder="subject" name="subject" id="subject" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="textarea-wrap">
                            <textarea class="type-input" tabindex="3" placeholder="Message" name="message" id="message-contact" required></textarea>
                        </div>
                    </div>
                    <div class="submit-wrap">
                        <button class="flat-button bg-theme">Send Your Message</button>
                    </div>
                </form>-->
<!-- /.comment-form -->
<!--</div>--><!-- /.col-md-8 -->
<!--</div>--><!-- /.row -->
<!--</div>--><!-- /.container -->
<!--</section>-->
