@using Cakmak.Yapi.Entity.Application
@model About
@{
    ViewData["Title"] = "Index";
}

<div class="page-title parallax parallax3">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-heading">
                    <h1 class="title">About <span>Us.</span></h1>
                </div><!-- /.page-title-captions -->
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li> Hakkımızda </li>
                    </ul>
                </div><!-- /.breadcrumbs -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.page-title -->
<!-- About -->
<section class="main-content page-single page-about">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-section text-center">
                    <h1 class="title">@Model.Title</h1>
                </div>
            </div><!-- /.col-md-12 -->
        </div>

        <div class="row">
            <div class="col-md-12">
                   @Html.Raw(Model.Content)
            </div>

            @*<div class="col-md-6">
                <p>
                    Ea mei nostrum imperdiet deterruisset, mei ludus efficiendi ei. Sea summo mazim ex, ea errem eleifend definitionem vim. Ut nec hinc dolor possim. An eros argumentum vel, elit diceret duo eu, quo et aliquid ornatus delicatissimi. Proin eu diam lorem, id scelerisque sapien. In accumsan metus at magna vehicula placerat tempor varius ipsum. libero, non congue odio vulputate eu. Phasellus euismod magna ac est.
                </p>
            </div>*@

        </div><!-- /.row -->
    </div><!-- /.container -->
</section>

<section class="flat-row no-pad bg-black clearfix">
    <div class="flat-one-haft">
        <div class="flat-single-images">
       
        <img class="img-fill" src="@Model.Image" />
        </div>
    </div>

    <div class="flat-one-haft padl60">
        <div class="flat-spacer height60"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="title-section color-white">
                    <h1 class="title">What We Do</h1>
                </div>
            </div><!-- /.col-md-12 -->
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-6">
                <div class="iconbox color-white left">
                    <div class="box-header">
                        <i class="fa fa-desktop" aria-hidden="true"></i>
                        <div class="box-title"><a href="#">Web Design</a></div>
                    </div>
                    <div class="box-content">
                        Help your start
                    </div>
                </div><!-- /.iconbox -->

                <div class="empty-space height40"></div>

                <div class="iconbox color-white left">
                    <div class="box-header">
                        <i class="fa fa-share-alt" aria-hidden="true"></i>
                        <div class="box-title"><a href="#">Social Media</a></div>
                    </div>
                    <div class="box-content">
                        Think different
                    </div>

                </div><!-- /.iconbox -->
            </div><!-- /.col-md-4 -->

            <div class="col-md-4 col-sm-6 col-xs-6">
                <div class="iconbox color-white left">
                    <div class="box-header">
                        <i class="fa fa-line-chart"></i>
                        <div class="box-title"><a href="#">Blog Writing</a></div>
                    </div>
                    <div class="box-content">
                        Give better look
                    </div>
                </div><!-- /.iconbox -->

                <div class="empty-space height40"></div>

                <div class="iconbox color-white left">
                    <div class="box-header">
                        <i class="fa fa-diamond"></i>
                        <div class="box-title"><a href="#">UI Kit / Api</a></div>
                    </div>
                    <div class="box-content">
                        Get creative snaps
                    </div>

                </div><!-- /.iconbox -->
            </div><!-- /.col-md-4 -->

            <div class="col-md-4 col-sm-6 col-xs-6">
                <div class="iconbox color-white left">
                    <div class="box-header">
                        <i class="fa fa-bar-chart-o"></i>
                        <div class="box-title"><a href="#">Marketing</a></div>
                    </div>
                    <div class="box-content">
                        Promote project
                    </div>
                </div><!-- /.iconbox -->

                <div class="empty-space height40"></div>

                <div class="iconbox color-white left">
                    <div class="box-header">
                        <i class="fa fa-file-image-o" aria-hidden="true"></i>
                        <div class="box-title"><a href="#">Photography</a></div>
                    </div>
                    <div class="box-content">
                        Fast &amp; Friendly
                    </div>

                </div><!-- /.iconbox -->
            </div><!-- /.col-md-4 -->
        </div>
        <div class="flat-spacer height60"></div>
    </div>
</section>

<!-- Testimonials style1 -->
<section class="flat-row testimonials">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="flat-testimonials" data-item="2" data-nav="false" data-dots="false" data-auto="false">
                    <div class="testimonials style1">
                        <div class="avatar">
                            <img src="images/testimonial/1.jpg" alt="images">
                        </div>
                        <div class="message">
                            <div class="title">Awesome template for ever!</div>
                            <blockquote class="whisper">"Themes Flat always contacted me when I needed customer support. When I asked if the theme supported Mega Menu component "</blockquote>
                            <div class="name"><span>Thiagolovizzaro</span></div>
                            <div class="position">CEO - Github</div>
                        </div>
                    </div>

                    <div class="testimonials style1">
                        <div class="avatar">
                            <img src="images/testimonial/2.jpg" alt="images">
                        </div>
                        <div class="message">
                            <div class="title">Customer Support</div>

                            <blockquote class="whisper">"The author helped us at all. It's really an amazing templete.El autor del templete nos dio soporte las 24 hs y nos ayudo en todo lo que le pedimos "</blockquote>
                            <div class="name"><span>Maria Smith</span></div>
                            <div class="position">CEO - Dribbble</div>
                        </div>
                    </div>
                </div><!-- /.flat-testimonials-->
            </div>
        </div>
    </div><!-- /.container -->
</section>

