@{
    ViewData["Title"] = "Detail";
}

            
        <!-- Page title -->
        <div class="page-title parallax parallax1">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">                    
                        <div class="page-title-heading">
                            <h1 class="title">Our <span>Services.</span></h1>
                        </div><!-- /.page-title-captions -->
                        <div class="breadcrumbs">
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li> Services </li>
                            </ul>                   
                        </div><!-- /.breadcrumbs -->   
                    </div><!-- /.col-md-12 -->  
                </div><!-- /.row -->  
            </div><!-- /.container -->                      
        </div><!-- /.page-title --> 

        <!-- Portfolio detail -->
        <section class="flat-row">  
            <div class="container">                
                <div class="row">
                    <div class="col-md-8">                           
                        <div class="flat-portfolio-gallery">
                            <div class="flat-portfolio-gallery-slider">
                                <div id="flat-portfolio-gallery-flexslider">
                                    <ul class="slides">
                                        <li>
                                            <img src="images/portfolio/single/gallery1.jpg" alt="images">
                                        </li>
                                        <li>
                                            <img src="images/portfolio/single/gallery3.jpg" alt="images">
                                        </li>
                                        <li>
                                            <img src="images/portfolio/single/gallery4.jpg" alt="images">
                                        </li>
                                         
                                    </ul>
                                </div>

                                <div id="flat-portfolio-gallery-carousel">
                                    <ul class="slides">
                                        <li>
                                            <img src="images/portfolio/single/gallery1.jpg" alt="images">
                                        </li>
                                        <li>
                                            <img src="images/portfolio/single/gallery2.jpg" alt="images">
                                        </li>
                                        <li>
                                            <img src="images/portfolio/single/gallery3.jpg" alt="images">
                                        </li>
                                        <li>
                                           <img src="images/portfolio/single/gallery4.jpg" alt="images">
                                        </li>                
                                    </ul>
                                </div>
                                
                            </div><!-- /.flat-portfolio-gallery-slider -->
                        </div><!-- /.flat-portfolio-gallery -->
                    </div>

                    <div class="col-md-4">
                        <div class="work-detail-content">
                            <div class="flat-work-detail">
                                <div class="project-content">
                                    <div class="title-single-portfolio">Konstruct Penthouse</div>
                                    <p>Donec suscipit vehicula turpis sed lutpat Quisque vitae quam neque. Morbi cilisis placerat dapibus. Etiam ultrices nulla ed leo malesuada commodo bibendum orci vi verra. Donec suscipit vehicula turpis sed lutpat Quisque vitae quam neque. Morbi cilisis placerat dapibus. Etiam ultrices nulla ed leo malesuada commodo bibendum orci vi verra.</p>
                                    <p>
                                        Nemo ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt
                                    </p>
                                    <ul class="project-field">
                                        <li><Span>Client: </Span>Johnson Group, US</li>
                                        <li><Span>Year: </Span>2016</li>
                                        <li><Span>Link: </Span>themesflat.com</li>
                                        <li><Span>Category: </Span> <a href="#">Design</a> , 
                                        <a href="#">Handmade</a> , <a href="#">Photography</a> 
                                        </li>
                                    </ul>

                                    <ul class="project-share">
                                        <li>Share: </li>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>                                    
                                </div>                         
                            </div>
                        </div>
                    </div>
                </div>              
            </div> 
        </section> 

        <!-- Portfolio related -->
        <section class="flat-row row-related">  
            <div class="container">                
               <div class="row">
                    <div class="col-md-12">
                        <div class="flat-portfolio grid-3columns alt">             
                            <div class="portfolio-wrap clearfix">
                                <div class="item builder painting">                                
                                    <div class="featured-images">
                                        <img src="images/portfolio/simple/1.jpg" alt="images">
                                        <div class="overlay">   
                                        </div>                       
                                    </div><!-- /.featured-images -->
                                    <h3 class="project-title">Stone table Volcano</h3>
                                    <ul class="category-portfolio">
                                        <li><a href="#">Photography</a></li>
                                        <li><a href="#">Startup</a></li>
                                    </ul>             
                                </div><!-- /.portfolio-item -->

                                <div class="item builder painting">                                
                                    <div class="featured-images">
                                        <img src="images/portfolio/simple/2.jpg" alt="images">
                                        <div class="overlay">   
                                        </div>                       
                                    </div><!-- /.featured-images -->
                                    <h3 class="project-title">Cup of the best coffee</h3>
                                    <ul class="category-portfolio">
                                        <li><a href="#">Design</a></li>
                                        <li><a href="#">Handmade</a></li>
                                    </ul>               
                                </div><!-- /.portfolio-item -->

                                <div class="item builder painting">                                
                                    <div class="featured-images">
                                        <img src="images/portfolio/simple/3.jpg" alt="images">
                                        <div class="overlay">   
                                        </div>                       
                                    </div><!-- /.featured-images -->
                                    <h3 class="project-title">Very pretty bottle of wine</h3>
                                    <ul class="category-portfolio">
                                        <li><a href="#">Photography</a></li>
                                    </ul>            
                                </div><!-- /.portfolio-item -->
                            </div><!-- /.portfolio-wrap --> 
                        </div><!-- /.flat-portfolio --> 
                    </div>
                </div>              
            </div> 
        </section>

      

 