
@{
    ViewData["Title"] = "Index";
}

<!-- Page title -->
<div class="page-title parallax parallax3">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-heading">
                    <h1 class="title">Our <span>Services.</span></h1>
                </div><!-- /.page-title-captions -->
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li> Services </li>
                    </ul>
                </div><!-- /.breadcrumbs -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.page-title -->
<!-- serives -->
<section class="flat-row">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-section text-center">
                    <h1 class="title">Services</h1>
                </div>
                <div class="flat-spacer height30"></div>
            </div><!-- /.col-md-12 -->
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="images-box show clear-fix">
                    <img src="images/services/1.jpg" alt="serives">
                    <div class="box-content">
                        <div class="box-title">
                            <a href="#">Web Design</a>
                        </div>
                        Dolor sit amet consectetuer adipiscing sed diam nonummy nibh euismod tincidunt laoreet dolore magna aliquam
                        <a href="#" class="box-redmore">CONTINUE RED </a>
                    </div>
                </div><!-- /.images-box -->

                <div class="images-box clearfix">
                    <img src="images/services/2.jpg" alt="serives">
                    <div class="box-content">
                        <div class="box-title">
                            <a href="#">Blog Writing</a>
                        </div>
                        Dolor sit amet consectetuer adipiscing sed diam nonummy nibh euismod tincidunt laoreet dolore magna aliquam
                        <a href="#" class="box-redmore">CONTINUE RED </a>
                    </div>
                </div><!-- /.images-box -->

                <div class="images-box clear-fix">
                    <img src="images/services/3.jpg" alt="serives">
                    <div class="box-content">
                        <div class="box-title">
                            <a href="#">Marketing</a>
                        </div>
                        Dolor sit amet consectetuer adipiscing sed diam nonummy nibh euismod tincidunt laoreet dolore magna aliquam
                        <a href="#" class="box-redmore">CONTINUE RED </a>
                    </div>
                </div><!-- /.images-box -->
            </div><!-- /.col-md-12 -->
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="images-box  clear-fix">
                    <img src="images/services/7.jpg" alt="serives">
                    <div class="box-content">
                        <div class="box-title">
                            <a href="#">Web Design</a>
                        </div>
                        Dolor sit amet consectetuer adipiscing sed diam nonummy nibh euismod tincidunt laoreet dolore magna aliquam
                        <a href="#" class="box-redmore">CONTINUE RED </a>
                    </div>
                </div><!-- /.images-box -->

                <div class="images-box clearfix">
                    <img src="images/services/8.jpg" alt="serives">
                    <div class="box-content">
                        <div class="box-title">
                            <a href="#">Blog Writing</a>
                        </div>
                        Dolor sit amet consectetuer adipiscing sed diam nonummy nibh euismod tincidunt laoreet dolore magna aliquam
                        <a href="#" class="box-redmore">CONTINUE RED </a>
                    </div>
                </div><!-- /.images-box -->

                <div class="images-box show clear-fix">
                    <img src="images/services/9.jpg" alt="serives">
                    <div class="box-content">
                        <div class="box-title">
                            <a href="#">Marketing</a>
                        </div>
                        Dolor sit amet consectetuer adipiscing sed diam nonummy nibh euismod tincidunt laoreet dolore magna aliquam
                        <a href="#" class="box-redmore">CONTINUE RED </a>
                    </div>
                </div><!-- /.images-box -->
            </div><!-- /.col-md-12 -->
        </div>
    </div><!-- /.container -->
</section>
