
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



<div class="content animated fadeIn" id="app">
    <div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title">Geri Bildirimler</h5>
            <div class="header-elements" v-if="isEditForm">
                <div class="list-icons">
                    <button class="btn btn-outline-info  btn-sm"
                            @@click="isEditForm=false;updateID=''"
                            title="Listeye Dön">
                        <i class="icon-arrow-left8"></i>
                        Listeye Dön
                    </button>
                </div>
            </div>
        </div>
        <div class="card-body d-flex justify-content-between " v-if="!isEditForm">
            <div>
                <template>

                    <el-input clearable placeholder="ÖRN: Geri Bildirim" style="width:200px" size="small" v-model="filter.SearchTerm"></el-input>
                    <el-button size="mini"
                               plain
                               type="info"
                               @@click="getData();">
                        <i class="icon-search4 mr-2 "></i>
                        Detaylı Ara
                    </el-button>
                    <el-button v-if="filter.SearchTerm.length>0"
                               size="mini"
                               plain
                               type="danger"
                               @@click="filter.SearchTerm='';getData();">
                        <i class="icon-close2 mr-2 "></i>
                        Filtreyi Temizle
                    </el-button>
                </template>
            </div>
            <div>
                <template v-if="!isEditForm">
                    <el-button v-if="selectedIDs.length>0" size="mini"
                               plain
                               type="danger"
                               @@click="bulkDetelete()">
                        <i class="icon-trash mr-2 "></i>
                        Seçilileri Sil
                    </el-button>
                </template>
            </div>

        </div>

        @* Table Template Start *@
        <template v-if="!isEditForm">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th class="width-50"> <el-checkbox :indeterminate="isIndeterminate" v-model="checkAll" @@change="handleCheckAllChange"></el-checkbox></th>
                            <th>Email</th>
                            <th>Ad</th>
                            <th>Soyad</th>
                            <th>Konu</th>
                            <th style="width:200px; text-align:center;">İşlemler</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr  v-for="item in items.filter(data => !filter.SearchTerm || data.email.toLowerCase().includes(filter.SearchTerm.toLowerCase()))" :key="item.id">
                            <td>
                                <el-checkbox :label="item.id" v-model="selectedIDs" :key="item.id"><span></span></el-checkbox>
                            </td>
                            <td>{{item.email}}</td>
                            <td>{{item.firstName}}</td>
                            <td>{{item.lastName}}</td>
                            <td>{{item.subject}}</td>
                            <td class="text-center">
                                <button class="btn btn-outline-info  btn-sm" @@click="handleShow(item)" title="Görüntüle"><i class="icon-eye"></i></button>
                                <button class="btn btn-outline-danger btn-sm" @@click="confirmDelete(item)" title="Sil"><i class="icon-trash"></i></button>
                            </td>
                        </tr>

                    </tbody>
                </table>
                <div class="row">
                    <div class="col-md-12 pagination mt-3 mb-3" style="display: flex; justify-content: center;">
                        <el-pagination background style="text-align:center;"
                                       layout="prev, pager, next"
                                       :total="filter.TotalCount"
                                       :page-size="filter.Take"
                                       :current-page.sync="filter.CurrentPage"
                                       @@current-change="currentPageChanged"
                                       :hide-on-single-page="true">
                        </el-pagination>


                    </div>
                </div>
            </div>
        </template>
        @* Table Template End *@

        @* Show Template Start *@
        
        <template v-else>
            <div class="row">
                <div class="col-md-12 form-group">

                    <div class="card border-left-3 border-left-success rounded-left-0">
                        <div class="card-body">
                            <div class="d-sm-flex align-item-sm-center flex-sm-nowrap">
                                <div>
                                    <h6 class="font-weight-semibold">{{request.firstName}} {{request.lastName}}</h6>
                                    <ul class="list list-unstyled mb-0">
                                        <li>Email: {{request.email}}</li>
                                        <li>Telefon: <span class="font-weight-semibold">{{request.phone}}</span></li>
                                    </ul>
                                </div>

                                <div class="text-sm-right mb-0 mt-3 mt-sm-0 ml-auto">
                                    <h6 class="font-weight-semibold">{{request.createDate}}</h6>
                                </div>
                            </div>
                        </div>

                        <div class="card-footer d-sm-flex flex-column">
                            <p>
                                <span>
                                    <span class="badge badge-mark border-success mr-2"></span>
                                    Konu :
                                    <span class="font-weight-semibold">{{request.subject}} </span>
                                </span>
                            </p>
                            <p>
                                <span>
                                    <span class="badge badge-mark border-success mr-2"></span>
                                    Mesaj :
                                    <span class="font-weight-semibold">{{request.message}} </span>
                                </span>
                            </p>
                        </div>
                    </div> 
                </div>
            </div>
        </template>


        @* Show Template End *@
    </div>
</div>

@section Scripts{

    <script>

        var app = new Vue({
            el: '#app',
            data: {
                dialogImageUrl: '',
                dialogVisible: false,
                disabled: false,
                imageUrl: '',
                url: 'https://fuss10.elemecdn.com/e/5d/4a731a90594a4af544c0c25941171jpeg.jpeg',
                items: [],
                search: '',
                updateID: '',
                isEditForm: false,
                selectedIDs: [],
                isIndeterminate: true,
                checkAll: false,
                request: {
                    id: null,
                    email: '',
                    firstName: '',
                    lastName: '',
                    subject: '',
                    message:''
                },
                filter: {
                    Skip: 0,
                    Take: 10,
                    Page: 1,
                    TotalCount: 0,
                    CurrentPage: 1,
                    SearchTerm: ''
                },
                response: {
                    validationErrors: [],
                    Data: null
                },
                lock: true,
                search: ''
            },
            methods: {
                handleRemove(file) {
                    console.log(file);
                },
                handlePictureCardPreview(file) {
                    this.dialogImageUrl = file.url;
                    this.dialogVisible = true;
                },
                handleDownload(file) {
                    console.log(file);
                },
                handleAvatarSuccess(res, file) {
                    this.imageUrl = URL.createObjectURL(file.raw);
                },
                beforeAvatarUpload(file) {
                    const isJPG = file.type === 'image/jpeg';
                    const isLt2M = file.size / 1024 / 1024 < 2;

                    if (!isJPG) {
                        this.$message.error('Avatar picture must be JPG format!');
                    }
                    if (!isLt2M) {
                        this.$message.error('Avatar picture size can not exceed 2MB!');
                    }
                    return isJPG && isLt2M;
                },
                //Data Operations Start
                getData: async function () {
                    var res = (await this.$service.post('feedBackM/get', {
                        ... this.filter,
                        Skip: (this.filter.CurrentPage * this.filter.Take) - this.filter.Take
                    }));

                    this.items = res.data.data.items;
                    this.filter.TotalCount = res.data.data.totalCount;
                },
                addItem: async function () {
                    this.response = (await this.$service.post('feedBackM/add', this.request)).data;
                    if (!this.response.hasError) {
                        this.$message.success(this.response.message);
                        this.updateID = '';
                        this.isEditForm = false;
                        this.request.id = this.response.data.id;
                        this.items.unshift(this.request);
                        this.request = {
                            id: null,
                            title: ''
                        };

                    } else {
                        this.$message.error(this.response.message);
                    }
                },
                updateItem: async function () {
                    this.response = (await this.$service.post('feedBackM/update', this.request)).data;
                    if (!this.response.hasError) {
                        this.$message.success(this.response.message);
                    } else {
                        this.$message.error(this.response.message);
                    }

                },
                confirmDelete(item) {
                    this.$confirm('Bu kaydı silmek istediğine emin misin?', 'Uyarı', {
                        confirmButtonText: 'Evet',
                        cancelButtonText: 'Vazgeç',
                        type: 'warning'
                    }).then(async () => {
                        this.response = (await this.$service.post('feedBackM/delete', item)).data;
                        if (!this.response.hasError) {
                            this.$message.success(this.response.message);
                            this.getData();
                        } else {
                            this.$message.error(this.response.message);
                        }


                    }).catch(() => {
                        this.$message({
                            type: 'info',
                            message: 'Vazgeçildi'
                        });
                    });
                },
                bulkDetelete: async function () {

                    this.$confirm('Seçili kayıtları silmek istediğine emin misin?', 'Uyarı', {
                        confirmButtonText: 'Evet',
                        cancelButtonText: 'Vazgeç',
                        type: 'warning'
                    }).then(async () => {
                        var request = {
                            SelectedIDs: this.selectedIDs
                        };

                        this.response = (await this.$service.post('feedBackM/bulkDelete', request)).data;
                        if (!this.response.hasError) {
                            this.$message.success(this.response.message);
                            this.selectedIDs = [];
                            this.getData();
                        } else {
                            this.$message.error(this.response.message);
                        }

                    }).catch(() => {
                        this.$message({
                            type: 'info',
                            message: 'Vazgeçildi'
                        });
                    });

                },

                //Data Operations End
                handleCheckAllChange(val) {

                    this.selectedIDs = val ? this.items.map(k => k.id) : [];
                    this.isIndeterminate = false;
                },

                handleShow(row) {
                    this.updateID = row.id;
                    this.request = row;
                    this.isEditForm = true;
                },
                handleDelete(index, row) {
                    this.confirmDelete();
                },

                currentPageChanged() {
                    //window.scrollToTop();
                },


            },

            async beforeMount() {
                this.getData();

            },
            mounted() {
                setTimeout(() => {
                    this.lock = false;
                }, 2000)
            },
            watch: {
                'filter.Page': {
                    handler: function () {
                        this.getData();
                    }
                },
                'filter.CurrentPage': {
                    handler: function () {
                        this.getData();
                    }
                },
                'selectedIDs': function () {
                    let checkedCount = this.selectedIDs.length;
                    this.checkAll = checkedCount === this.items.length;
                    this.isIndeterminate = checkedCount > 0 && checkedCount < this.items.length;
                },

            },
            computed: {

            }
        });



    </script>


}
